body {
    margin: 0;
    padding: 0;
    background: #fff;
    overflow-x: hidden 
}
/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v29-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v29-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v29-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v29-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v29-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v29-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
a, button {
    transition: all .3s ease-in-out;
    outline: 0 
}
a:hover {
    text-decoration: none;
    cursor: pointer 
}
h1, h2, h3, h4, h5, h6, p {
    padding-left: 10px !important;
    padding-right: 10px !important 
}
h1 {
    font-size: 36px;
    line-height: 1.4em;
    font-weight: 600 
}
h2 {
    font-size: 26px;
    line-height: 1.4em;
    font-weight: 600 
}
h3 {
    font-size: 24px;
    line-height: 1.4em;
    font-weight: 600 
}
h4 {
    font-size: 20px;
    line-height: 1.4em;
    font-weight: 600 
}
p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000 
}
.italic {
    font-style: italic 
}
.uppercase {
    text-transform: uppercase 
}
.semi-bold {
    font-weight: 600 
}
.bg-banniere {
    width: 100%;
    height: 400px;
    z-index: 99;
    position: fixed;
    top: 0;
    bottom: 0 
}
.bloc {
    width: 100%;
    clear: both;
    background: 50% 50% no-repeat;
    padding: 0 50px;
    background-size: cover;
    position: relative 
}
.bloc .container {
    padding-left: 5%;
    padding-right: 5%;
    height: max-content;
    max-height: fit-content 
}
.bloc {
    padding-left: 20px;
    padding-right: 20px 
}
.bloc-lg {
    padding-top: 10%;
    height: 400px 
}
.bloc-md {
    padding: 50px 50px 
}
.bloc-sm {
    padding: 50px 0 50px 0 
}
.bg-b-edge, .bg-br-edge, .bg-center, .bg-l-edge, .bg-r-edge, .bg-repeat, .bg-t-edge {
    background-size: auto 
}
.bg-repeat {
    background: repeat 
}
.bloc-bg-texture::before {
    content: "";
    background-size: 2px 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0 
}
.d-bloc {
    color: #fff 
}
.l-bloc {
    color: #000 
}
.l-bloc button:hover {
    color: #000 
}
.l-bloc .a-btn, .l-bloc .navbar a, .l-bloc .navbar-brand, .l-bloc a .icon-lg, .l-bloc a .icon-md, .l-bloc a .icon-sm, .l-bloc h1 a, .l-bloc h2 a, .l-bloc h3 a, .l-bloc h4 a, .l-bloc h5 a, .l-bloc h6 a, .l-bloc p a {
    color: #000 
}
.l-bloc .navbar a {
    color: #d44502;
    font-weight: 700 !important 
}
.l-bloc .navbar-toggle .icon-bar {
    color: rgb(0, 0, 0, .6) 
}
.row-no-gutters {
    margin-right: 0;
    margin-left: 0 
}
.row.row-no-gutters>[class*=" col-"], .row.row-no-gutters>[class^=col-] {
    padding-right: 0;
    padding-left: 0 
}
ul .navbar .useragent {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px 
}
.navbar {
    margin-bottom: 0;
    z-index: 1 
}
.navbar-brand {
    height: auto;
    padding: 3px 15px;
    font-size: 25px;
    font-weight: 400;
    font-weight: 600;
    line-height: 44px 
}
.navbar-brand img {
    height: 40px;
    width: 216px;
    margin: 0 5px 0 0;
    display: inline;
    min-width: 80% 
}
.navbar-brand img[src$=svg] {
    min-width: 100px 
}
.navbar .nav {
    padding-top: 2px;
    margin-right: -16px;
    float: right;
    z-index: 1 
}
.nav>li {
    float: left;
    margin-top: 4px;
    font-size: 16px 
}
.navbar-toggle {
    margin: 10px 10px 0 0;
    border: 0 
}
.navbar-toggle:hover {
    background: 0 
}
.navbar-toggle .icon-bar {
    background-color: rgb(0, 0, 0, .5);
    width: 26px 
}
.site-navigation {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%) 
}
.nav-justify {
    text-align: justify 
}
.mg-md {
    margin-top: 10px;
    margin-bottom: 20px 
}
.mg-lg {
    margin-top: 10px;
    margin-bottom: 40px 
}
.d-bloc button:hover {
    color: #fff 
}
.navbar-contact a {
    font-weight: 700 !important 
}
.d-bloc .a-btn:hover, .d-bloc .navbar a:hover, .d-bloc .navbar-brand:hover, .d-bloc a:hover .icon-lg, .d-bloc a:hover .icon-md, .d-bloc a:hover .icon-sm, .d-bloc h1 a:hover, .d-bloc h2 a:hover, .d-bloc h3 a:hover, .d-bloc h4 a:hover, .d-bloc h5 a:hover, .d-bloc h6 a:hover, .d-bloc p a:hover {
    color: #f9b89a 
}
.d-bloc .navbar-toggle .icon-bar {
    background: #fff 
}
.l-bloc .a-btn, .l-bloc .navbar a, .l-bloc .navbar-brand, .l-bloc a .icon-lg, .l-bloc a .icon-md, .l-bloc a .icon-sm, .l-bloc h1 a, .l-bloc h2 a, .l-bloc h3 a, .l-bloc h4 a, .l-bloc h5 a, .l-bloc h6 a, .l-bloc p a {
    color: #000 
}
.l-bloc .navbar a {
    color: #d44502 
}
.l-bloc .a-btn:hover, .l-bloc .navbar a:hover, .l-bloc .navbar-brand:hover, .l-bloc a:hover .icon-lg, .l-bloc a:hover .icon-md, .l-bloc a:hover .icon-sm, .l-bloc h1 a:hover, .l-bloc h2 a:hover, .l-bloc h3 a:hover, .l-bloc h4 a:hover, .l-bloc h5 a:hover, .l-bloc h6 a:hover, .l-bloc p a:hover {
    color: #000 
}
.row.row-no-gutters>[class*=" col-"], .row.row-no-gutters>[class^=col-] {
    padding-right: 0;
    padding-left: 0 
}
.nav-center .navbar-brand img {
    margin: 0 
}
.nav>li a:focus, .nav>li a:hover {
    background: 0 
}
.nav>li>.dropdown a {
    background: 0;
    display: block;
    padding: 14px 15px 
}
.btn-d, .btn-d:focus, .btn-d:hover {
    color: #fff;
    background: rgb(0, 0, 0, .3) 
}
button {
    outline: 0 
}
.btn {
    margin: 0 5px 5px 0 
}
.btn-rd {
    border-radius: 40px 
}
.btn-clean {
    border: rgb(0, 0, 0, .08) solid 1px;
    border-bottom-color: rgb(0, 0, 0, .1);
    text-shadow: 0 1px 0 rgb(0, 0, 1, .1);
    box-shadow: 0 1px 3px rgb(0, 0, 1, .25), 0 1px 0 0 rgb(255, 255, 255, .15) inset 
}
.icon-md {
    font-size: 30px 
}
.icon-lg {
    font-size: 60px 
}
.sm-shadow {
    text-shadow: 0 1px 2px rgb(0, 0, 0, .3) 
}
a[data-lightbox] {
    position: relative;
    display: block;
    text-align: center 
}
a[data-lightbox]:hover::before {
    content: "+";
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50%;
    background: rgb(0, 0, 0, .6);
    color: #fff;
    font-weight: 100;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center 
}
a[data-lightbox]:hover img {
    opacity: .6;
    animation-fill-mode: none;
    text-align: center 
}
.lightbox-caption {
    padding: 20px;
    color: #fff;
    background: rgb(0, 0, 0, .5);
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 5px 
}
.snapshot-lb .lightbox-caption {
    padding: 0;
    color: rgb(0, 0, 0, .5);
    background: 0 
}
.container {
    max-width: 1000px 
}
.hero-bloc-text {
    font-size: 38px 
}
.cta-hero {
    margin-top: 22px;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 28px 12px 28px;
    font-size: 16px;
    font-weight: 700 !important;
    max-width: 90% 
}
.social {
    max-width: 460px;
    padding-top: 40px;
    margin: auto auto auto auto;
    font-size: 28px 
}
.med-width-whitespace {
    max-width: 800px;
    margin: auto auto auto auto;
    box-shadow: 0 0 0 #000;
    padding-top: 70px;
    padding-bottom: 40px 
}
.icons {
    margin-bottom: 14px;
    margin-top: 24px 
}
.white {
    color: #fff !important 
}
.portfolio-thumb {
    margin-bottom: 24px;
    padding: inherit 
}
.bgc-white {
    background-color: #fff 
}
.bgc-atomic-tangerine {
    background-color: #d44502 !important 
}
.tc-black {
    color: #000 
}
.tc-black:hover {
    color: #ccc 
}
.tc-tangerine {
    color: #d44502;
    padding-bottom: 20px 
}
.tc-white {
    color: #fff 
}
.btn-atomic-tangerine {
    background: #d44502;
    color: #fff !important 
}
.btn-atomic-tangerine:hover {
    background: #f9b89a !important;
    color: #fff !important 
}
.btn-white {
    background: #fff !important;
    color: #d44502 !important 
}
.btn-white:hover {
    background: #f9b89a !important;
    color: #fff !important 
}
.icon-dark-slate-blue {
    color: #d44502 !important 
}
.bg-banniere {
    background-image: url(https://daphne-57.github.io/projet4-examen.github.io/img/agence-la-panthere-car.webp) 
}
.bg-lines-h2-bg {
    background-image: url(https://daphne-57.github.io/projet4-examen.github.io/img/lines-h2-bg.webp) 
}
.b-parallax {
    background-attachment: scroll 
}
#hero-bloc, .page-container {
    overflow-x: hidden;
    position: relative 
}
.bloc .container {
    padding-left: 5%;
    padding-right: 5%;
    height: max-content;
    max-height: fit-content 
}
.bg-b-edge, .bg-br-edge, .bg-center, .bg-l-edge, .bg-r-edge, .bg-repeat, .bg-t-edge {
    background-size: auto 
}
.bg-repeat {
    background: repeat 
}
.d-bloc .a-btn, .d-bloc .navbar a, .d-bloc .navbar-brand, .d-bloc a .icon-lg, .d-bloc a .icon-md, .d-bloc a .icon-sm, .d-bloc h1 a, .d-bloc h2 a, .d-bloc h3 a, .d-bloc h4 a, .d-bloc h5 a, .d-bloc h6 a, .d-bloc p a {
    color: #fff 
}
.l-bloc .navbar a {
    color: #d44502;
    font-weight: 700 !important 
}
.l-bloc .a-btn:hover, .l-bloc .navbar a:hover, .l-bloc .navbar-brand:hover, .l-bloc a:hover .icon-lg, .l-bloc a:hover .icon-md, .l-bloc a:hover .icon-sm, .l-bloc h1 a:hover, .l-bloc h2 a:hover, .l-bloc h3 a:hover, .l-bloc h4 a:hover, .l-bloc h5 a:hover, .l-bloc h6 a:hover, .l-bloc p a:hover {
    color: #000 
}
.voffset-lg {
    padding-top: 50px 
}
.col-sm-6 img {
    justify-content: center;
    text-align: center;
   /* padding: auto;
    margin: auto */
}
.social {
    max-width: 440px;
    padding-top: 40px;
    margin: auto auto auto auto;
    font-size: 28px 
}
.portfolio-thumb {
    margin-bottom: 24px;
    padding: inherit 
}
.nav-center.navbar .nav {
    max-width: 100% 
}
.cta-hero {
    margin-top: 22px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700 !important;
    max-width: 100%;
    margin-bottom: 50px 
}
@media(min-width:769px) and (max-width:992px) {
    .bloc-lg {
        padding-top: 10% 
   }
    .tc-tangerine {
        color: #d44502;
        padding-bottom: 20px 
   }
    .cta-hero {
        margin-top: 22px;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700 !important;
        max-width: 100%;
        margin-bottom: 50px 
   }
    .bloc-sm {
        padding: 40px 0 40px 0 
   }
    h1 {
        font-size: 36px;
        line-height: 1.4em;
        font-weight: 600 
   }
    h2 {
        font-size: 26px;
        line-height: 1.4em;
        font-weight: 600 
   }
    h3 {
        font-size: 24px;
        line-height: 1.4em;
        font-weight: 600 
   }
    h4 {
        font-size: 20px;
        line-height: 1.4em;
        font-weight: 600 
   }
    p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #000 
   }
}
@media(min-width:401px) and (max-width:768px) {
    h1 {
        font-size: 32px 
   }
    h2 {
        font-size: 28px 
   }
    h3 {
        font-size: 24px 
   }
    p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #000 
   }
    h1, h2, h3, h4, h5, h6, p {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-top: 20%;
        margin-bottom: 10% 
   }
    .bloc-sm {
        padding: 30px 0 30px 0 
   }
    .tc-tangerine {
        color: #d44502;
        padding-bottom: 20px 
   }
    .nav-center .site-navigation {
        position: relative;
        width: 100%;
        right: 0;
        margin-right: 0;
        margin-top: 20px 
   }
    .navbar .nav {
        padding-top: 0;
        border-top: 1px solid rgb(0, 0, 0, .2);
        float: none !important 
   }
    .site-navigation {
        position: inherit;
        transform: none 
   }
    .nav>li {
        margin-top: 0;
        border-bottom: 1px solid rgb(0, 0, 0, .1);
        background: rgb(0, 0, 0, .05);
        text-align: left;
        padding-left: 15px;
        width: 100% 
   }
    .nav>li:hover {
        background: rgb(0, 0, 0, .08) 
   }
    .nav-center {
        text-align: center 
   }
    .nav-justify {
        text-align: justify 
   }
    .nav-left {
        text-align: left 
   }
    .nav-center .navbar-header {
        width: 100% 
   }
    .nav-center .nav>li, .nav-center .navbar-brand, .nav-center .navbar-header {
        float: none;
        display: inline-block 
   }
    .cta-hero {
        margin-top: 22px;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700 !important;
        max-width: 100%;
        margin-bottom: 50px 
   }
    .bloc .container {
        padding-left: 5%;
        padding-right: 5%;
        height: max-content;
        max-height: fit-content 
   }
}
@media(max-width:400px) {
    h1 {
        font-size: 24px 
   }
    h2 {
        font-size: 22px 
   }
    h3 {
        font-size: 20px 
   }
    p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 15px;
        color: #000 
   }
    h1, h2, h3, h4, h5, h6, p {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-top: 20%;
        margin-bottom: 10% 
   }
    .navbar .nav {
        max-width: 70% 
   }
    .navbar-brand img {
        height: 40px;
        width: 216px;
        margin: 0;
        display: inline;
        min-width: 80%;
        max-width: 90% 
   }
    .tc-tangerine {
        padding-bottom: 20px 
   }
    .bloc-sm {
        padding: 30px 0 30px 0 
   }
    .navbar-toggle {
        margin: 10px 0 0 0;
        border: 0 
   }
    .navbar-brand {
        padding-left: 0;
        padding-right: 0 
   }
    .cta-hero {
        margin-top: 22px;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700 !important;
        max-width: 100%;
        margin-bottom: 50px 
   }
    .bloc {
        padding-left: 15px;
        padding-right: 15px 
   }
    .colsm12-largeur {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
        margin-left: 0 !important 
   }
    .col-sm-12 {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
        margin-left: 0 !important 
   }
    .bloc .container {
        height: max-content;
        max-height: fit-content 
   }
}
